<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--
    Web.config:
    The configuration section declaration needs restartOnExternalChanges="false" when using cryptography in a website.
    This is to prevent the site from restarting when saving new keys to the configuration.
    -->
    <section name="cryptography" type="WebApplications.Utilities.Cryptography.Configuration.CryptographyConfiguration, WebApplications.Utilities.Cryptography" restartOnExternalChanges="false"/>
  </configSections>
  <!--
  Web.config:
  The cryptography section should be in its own file e.g. <cryptography configSource="Cryptography.config"/> when using cryptography in a website.
  This is also a step to prevent the site restarting when saving new keys to the configuration.
  -->
  <cryptography>
    <providers>
      <add name="RSACryptographer" type="WebApplications.Utilities.Cryptography.RSACryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="1" keyLifeInDays="30">
        <keys>
          <add value="6ff723c7f29843f9950ea01600e24791" expiry="2012-04-15 13:43:51"/>
        </keys>
      </add>
      <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="2" keyLifeInDays="10">
        <keys>
          <add value="9c9b25880dd60fae79f45c4e176272d3f5ef9f57103ed01d97ad9d362bc4d28d" expiry="2009-03-20 16:45:00"/>
          <add value="176272d3f5ef9f57103ed01d97ad9d362bc4d28d9c9b25880dd60fae79f45c4e" expiry="2012-03-20 16:45:00"/>
        </keys>
      </add>
      <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="false" id="3" keyLifeInDays="3"/>
      <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="4" keyLifeInDays="20"/>
    </providers>
  </cryptography>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
