<?xml version="1.0"?>
<cryptography>
  <providers>
    <add name="RSACryptographer" type="WebApplications.Utilities.Cryptography.RSACryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="RSA" keyLifeInDays="30">
      <keys>
        <add value="6ff723c7f29843f9950ea01600e24791" expiry="2012-04-15 13:43:51"/>
      </keys>
    </add>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="AES" keyLifeInDays="10">
      <keys>
        <add value="9c9b25880dd60fae79f45c4e176272d3f5ef9f57103ed01d97ad9d362bc4d28d" expiry="2009-03-20 16:45:00"/>
        <add value="176272d3f5ef9f57103ed01d97ad9d362bc4d28d9c9b25880dd60fae79f45c4e" expiry="2012-03-20 16:45:00"/>
      </keys>
    </add>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="AES2" keyLifeInDays="20"/>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="false" id="AES3" keyLifeInDays="3"/>
  </providers>
</cryptography>
