<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="WebApplications.Testing" version="5.0.5192.19740" targetFramework="net45" />
  <package id="WebApplications.Utilities" version="5.0.5192.19907" targetFramework="net45" />
</packages>