<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.4" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.4" targetFramework="net45" />
  <package id="Rx-Providers" version="2.2.4" targetFramework="net45" />
  <package id="WebApplications.Utilities" version="5.0.5242.28909" targetFramework="net45" />
  <package id="WebApplications.Utilities.Logging" version="5.1.5245.28214" targetFramework="net45" />
  <package id="WebApplications.Utilities.Performance" version="5.0.5242.28982" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
</packages>