<?xml version="1.0"?>
<cryptography>
  <providers>
    <add id="RSA" type="RSA" enabled="true">
      <parameters>
        <add name="dwKeySize" value="1024" type="System.Int32" typeConverter="System.ComponentModel.Int32Converter, System"/>
      </parameters>
    </add>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="AES" keyLifeInDays="10">
    </add>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="AES2" keyLifeInDays="20"/>
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="false" id="AES3" keyLifeInDays="3"/>
  </providers>
</cryptography>
