<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging" type="WebApplications.Utilities.Logging.Configuration.LoggingConfiguration, WebApplications.Utilities.Logging" />
  </configSections>
  <logging logCacheExpiry="00:05:00" applicationName="TestLogger" applicationGuid="F2EF49E3-E426-49BA-988F-A3A01171EE9A">
    <!--
    The following attributes are allowed on the logging element (defaults shown):
           enabled="true"
           applicationName=""
           applicationGuid=(random GUID)
           validLevels="All"
           minBatchSize="10"
           maxBatchSize="1000"
           batchWait="00:00:02"
           logCacheExpiry="00:10:00"
           logCacheMaximumEntries="10000"

    The logging system can use an internal MemoryCache to hold recent logs for quicker retrieval, if log retrieval is not in use
    setting either the logCacheExpiry to "00:00:00" or the logCacheMaximumEntire to "0" will disable the log cache.
  
    If log retrieval is common then it is recommended that the log cache is used.
    
    You can optionally initialise additional loggers by adding a loggers node.  The library includes the following loggers, but you can create new ones
    by implementing the "WebApplications.Utiltities.Logging.Interfaces.ILogger" interface. -->
    <loggers>
      <!-- <remove name="Trace Logger" /> -->

      <add name="XML File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="Verbose,Xml" />
        </parameters>
      </add>
      <add name="JSON File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="Verbose,Json" />
        </parameters>
      </add>
      <add name="File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="Verbose" />
        </parameters>
      </add>

      <add name="Event Logger" type="WebApplications.Utilities.Logging.Loggers.EventLogger, WebApplications.Utilities.Logging">
        <parameters>
          <!--
          You can also say which event log to use.
          <add name="eventLog" value="Application"/>
           -->
        </parameters>
      </add>
    </loggers>
  </logging>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4739.21954" newVersion="2.0.4739.21954" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>