<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging" type="WebApplications.Utilities.Logging.Configuration.LoggingConfiguration, WebApplications.Utilities.Logging" />
    
  <section name="utility" type="WebApplications.Utilities.Configuration.UtilityConfiguration, WebApplications.Utilities" /></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5560.18170" newVersion="5.1.5560.18170" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <logging logCacheExpiry="00:05:00" applicationName="TestLogger" applicationGuid="F2EF49E3-E426-49BA-988F-A3A01171EE9A">
    <!--
    The following attributes are allowed on the logging element (defaults shown):
           enabled="true"
           applicationName=""
           applicationGuid=(random GUID)
           validLevels="All"
           minBatchSize="10"
           maxBatchSize="1000"
           batchWait="00:00:02"
           logCacheExpiry="00:10:00"
           logCacheMaximumEntries="10000"

    The logging system can use an internal MemoryCache to hold recent logs for quicker retrieval, if log retrieval is not in use
    setting either the logCacheExpiry to "00:00:00" or the logCacheMaximumEntire to "0" will disable the log cache.
  
    If log retrieval is common then it is recommended that the log cache is used.
    
    You can optionally initialise additional loggers by adding a loggers node.  The library includes the following loggers, but you can create new ones
    by implementing the "WebApplications.Utiltities.Logging.Interfaces.ILogger" interface. -->
    <loggers>
      <!-- <remove name="Trace Logger" /> -->
      <add name="XML File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="{XML}" />
        </parameters>
      </add>
      <add name="JSON File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="{JSON}" />
        </parameters>
      </add>
      <add name="File Logger" type="WebApplications.Utilities.Logging.Loggers.FileLogger, WebApplications.Utilities.Logging" enabled="true" validLevels="All">
        <parameters>
          <add name="format" value="{Time}{Message}" />
        </parameters>
      </add>
      <add name="Event Logger" type="WebApplications.Utilities.Logging.Loggers.EventLogger, WebApplications.Utilities.Logging">
        <parameters>
          <!--
          You can also say which event log to use.
          <add name="eventLog" value="Application"/>
           -->
        </parameters>
      </add>
    </loggers>
  </logging>

  
<utility timeZoneDB="Resources\tzdb.nzd" iso4217="Resources\iso4217.ccy">
    <!--
    The following attributes can be added to the scheduler node, all are optional:
        timeZoneDB="Resources\tzdb.nzd"   The location of the latest time zone DB file.
        iso4217="Resources\iso4217.ccy"   The location of the latest ISO 4217 currency information file.
    
    Note that although 'timeZoneDB' is currently optional, the embedded time zones are going to be dropped in a future version of NodaTime, so this
    will eventualy become a required attribute.  The location of the latest DB file can be found at (provides a URL link to download from):
      http://nodatime.org/tzdb/latest.txt
      
    The DownloadTzdb build task in the WebApplications.Utilities.BuildTasks library can be used to automatically download the latest version 
    of this file on build.
      
    Further information around can be found at
      http://nodatime.org
      
    The data for the iso4217 file can be downloaded from: 
      http://www.currency-iso.org/dam/downloads/table_a1.xml
    
    The data can be left as XML or in a special binary format. The DownloadCurrencies build task provided by the WebApplications.Utilities.BuildTasks 
    library can be used to automatically download the latest version of this file and convert it to the binary format on build.
    -->
  </utility></configuration>
