<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Providers" version="2.2.5" targetFramework="net45" />
  <package id="WebApplications.Testing" version="5.0.5254.21834" targetFramework="net45" />
  <package id="WebApplications.Utilities" version="5.0.5296.27390" targetFramework="net45" />
  <package id="WebApplications.Utilities.Performance" version="5.0.5296.27580" targetFramework="net45" />
</packages>