<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" />
  <package id="NodaTime" version="1.3.0" targetFramework="net451" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net451" />
  <package id="WebApplications.Testing" version="5.1.5379.28126" targetFramework="net451" />
  <package id="WebApplications.Utilities" version="5.1.5408.16967" targetFramework="net451" />
  <package id="WebApplications.Utilities.Performance" version="5.1.5408.17026" targetFramework="net451" />
  <package id="WebApplications.Utilities.Scheduling" version="5.1.5408.17075" targetFramework="net451" />
</packages>