<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="utility" type="WebApplications.Utilities.Configuration.UtilityConfiguration, WebApplications.Utilities" />
  <section name="logging" type="WebApplications.Utilities.Logging.Configuration.LoggingConfiguration, WebApplications.Utilities.Logging" /></configSections>
  
  
  
  
  
  
  
  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5465.29581" newVersion="5.1.5465.29581" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities.Performance" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5465.29637" newVersion="5.1.5465.29637" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities.Scheduling" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5364.26129" newVersion="5.1.5364.26129" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  
<utility timeZoneDB="Resources\tzdb.nzd" iso4217="Resources\iso4217.ccy">
    <!--
    The following attributes can be added to the scheduler node, all are optional:
        timeZoneDB="Resources\tzdb.nzd"   The location of the latest time zone DB file.
        iso4217="Resources\iso4217.ccy"   The location of the latest ISO 4217 currency information file.
    
    Note that although 'timeZoneDB' is currently optional, the embedded time zones are going to be dropped in a future version of NodaTime, so this
    will eventualy become a required attribute.  The location of the latest DB file can be found at (provides a URL link to download from):
      http://nodatime.org/tzdb/latest.txt
      
    The DownloadTzdb build task in the WebApplications.Utilities.BuildTasks library can be used to automatically download the latest version 
    of this file on build.
      
    Further information around can be found at
      http://nodatime.org
      
    The data for the iso4217 file can be downloaded from: 
      http://www.currency-iso.org/dam/downloads/table_a1.xml
    
    The data can be left as XML or in a special binary format. The DownloadCurrencies build task provided by the WebApplications.Utilities.BuildTasks 
    library can be used to automatically download the latest version of this file and convert it to the binary format on build.
    -->
  </utility><logging logCacheExpiry="00:00:00" /></configuration>
