<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="5.1.3000.12" />
  <package id="WebApplications.Testing" version="1.1.4505.18361" />
  <package id="WebApplications.Utilities" version="1.1.4505.19773" />
  <package id="WebApplications.Utilities.Initializer" version="1.1.4428.21565" />
</packages>