<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="5.1.3000.12" />
  <package id="Nito.AsyncEx" version="0.5.0" />
  <package id="WebApplications.Utilities" version="1.1.4513.19760" />
  <package id="WebApplications.Utilities.Initializer" version="1.1.4428.21565" />
</packages>