<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="databases" type="WebApplications.Utilities.Database.Configuration.DatabasesConfiguration, WebApplications.Utilities.Database" />
    
  <section name="logging" type="WebApplications.Utilities.Logging.Configuration.LoggingConfiguration, WebApplications.Utilities.Logging" /></configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5338.23918" newVersion="5.0.5338.23918" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Providers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities.Performance" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5338.24171" newVersion="5.0.5338.24171" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <databases>
    <database id="test">
      <connections>
        <connection>
          <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LocalData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
          <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LocalDataCopy.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
        </connection>
        <connection id="copyonly">
          <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LocalDataCopy.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
        </connection>
        <connection id="different">
          <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DifferentLocalData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
        </connection>
      </connections>
      <programs>
        <program name="spReturnsScalar" connection="copyonly" />
        <program name="spTakeByteArrayLength10" connection="different" constraintMode="Error" />
      </programs>
    </database>
    <database id="test2">
      <connections>
        <connection>
          <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DifferentLocalData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" />
        </connection>
      </connections>
      <programs>
        <program name="TestProgram" mapTo="spTakesParamAndReturnsScalar">
          <parameter name="@P1" mapTo="@firstName" />
        </program>
      </programs>
    </database>
  </databases>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
<logging logCacheExpiry="00:00:00" /></configuration>