<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncCTP" version="1.1.0.0" />
  <package id="JetBrains.Annotations" version="5.1.3000.12" />
  <package id="Moq" version="4.0.10827" />
  <package id="Nito.AsyncEx" version="0.5.0" />
  <package id="WebApplications.Testing" version="1.1.4428.21557" />
  <package id="WebApplications.Utilities" version="1.1.4458.16336" />
  <package id="WebApplications.Utilities.Logging" version="1.1.4458.16459" />
</packages>