<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="scheduler" type="WebApplications.Utilities.Scheduling.Configuration.SchedulerConfiguration, WebApplications.Utilities.Scheduling" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4513.19760" newVersion="1.1.4513.19760" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <scheduler>
    <schedules>
      <add name="1" type="WebApplications.Utilities.Scheduling.Schedules.OneOffSchedule, WebApplications.Utilities.Scheduling">
        <parameters>
          <add name="dateTimeUTC" value="2100-1-13T09:10:11.1234567Z" />
        </parameters>
      </add>
      <!--<add name="2" hour="Second" minute="Zeroth" second="Zeroth" />
      <add name="3" hour="Second,Twentieth" minute="Zeroth" second="Zeroth" />-->
    </schedules>
  </scheduler>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
