<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="scheduler" type="WebApplications.Utilities.Scheduling.Configuration.SchedulerConfiguration, WebApplications.Utilities.Scheduling" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5338.23918" newVersion="5.0.5338.23918" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities.Performance" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5338.24171" newVersion="5.0.5338.24171" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <scheduler>
    <schedules>
      <add name="OneOff" type="WebApplications.Utilities.Scheduling.Schedules.OneOffSchedule, WebApplications.Utilities.Scheduling">
        <parameters>
          <add name="dateTime" value="13/01/2100 09:10:11 +00:00" />
        </parameters>
      </add>
      <add name="Gap" type="WebApplications.Utilities.Scheduling.Schedules.GapSchedule, WebApplications.Utilities.Scheduling">
        <parameters>
          <add name="timeSpan" value="3.12:00:00" />
        </parameters>
      </add>
      <add name="EveryTwoMonths" type="WebApplications.Utilities.Scheduling.Schedules.PeriodicSchedule, WebApplications.Utilities.Scheduling">
        <parameters>
          <add name="month" value="EveryTwoMonths" />
          <add name="day" value="First" />
          <add name="hour" value="Third" />
          <add name="minimumTimeSpan" value="00:00:02"/>
          <add name="calendar" value="Gregorian 4"/>
          <add name="timeZone" value="Europe/London"/>
        </parameters>
      </add>
      <add name="Aggregate" type="WebApplications.Utilities.Scheduling.Schedules.AggregateSchedule, WebApplications.Utilities.Scheduling">
        <parameters>
          <add name="schedule1" value="OneOff" />
          <add name="schedule2" value="Gap" />
          <add name="schedule3" value="EveryTwoMonths" />
        </parameters>
      </add>
    </schedules>
  </scheduler>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
