<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
  <package id="WebApplications.Testing" version="5.0.5254.21834" targetFramework="net451" />
  <package id="WebApplications.Utilities" version="5.0.5296.27390" targetFramework="net451" />
</packages>