<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="7.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net451" />
  <package id="WebApplications.Testing" version="5.1.5379.28126" targetFramework="net451" />
  <package id="WebApplications.Utilities" version="5.1.5395.22738" targetFramework="net451" />
</packages>