<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging" type="WebApplications.Utilities.Logging.Configuration.LoggingConfiguration, WebApplications.Utilities.Logging" />
  </configSections>
  
  
  
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5256.39344" newVersion="5.0.5256.39344" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebApplications.Utilities.Performance" publicKeyToken="35eae54bdace0802" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.5256.39483" newVersion="5.0.5256.39483" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <logging logCacheExpiry="00:00:00">
    <loggers>
      <add name="Event Logger" type="WebApplications.Utilities.Logging.Loggers.EventLogger, WebApplications.Utilities.Logging" validLevels="All" enabled="true">
        <parameters>
          <add name="eventLog" value="Application" />
          <add name="machineName" value="." />
          <add name="format" value="{Verbose}" />
        </parameters>
      </add>
    </loggers>
  </logging>
</configuration>