<?xml version="1.0" encoding="utf-8" ?>
<!--
Place cryptographic keys here, and ensure this file is not exposed publicly.

The process also must have the ability to modify this file as it updates keys automatically, so ensure that write
access is granted to the user under which the process is running.
-->
<cryptography>
  <providers>
    <!-- 
    To add a provider specify a friendly name, a fully qualified type and an integer ID
    
    You can also enable/disable providers (allowing configurations to be held, and set
    a key life (in days).
    
    e.g.
    <add name="AESCryptographer" type="WebApplications.Utilities.Cryptography.AESCryptographer, WebApplications.Utilities.Cryptography" enabled="false" id="3" keyLifeInDays="3"/>
    <add name="RSACryptographer" type="WebApplications.Utilities.Cryptography.RSACryptographer, WebApplications.Utilities.Cryptography" enabled="true" id="1" keyLifeInDays="30"/>
    
    You can also add explicit keys within the provider - e.g.
    <add name .... >
      <keys>
        <add value="123456789abcdef.must be hex....." expiry="2013-12-31 12:00:00"/>
        ...
      </keys>
    </add>
    -->
  </providers>
</cryptography>